<div class="container">
  <div class="columns is-full">
    <div class="column is-3">
      // ジャンル検索？？
    </div>
    <div class="column is-10">
      <h1><strong>全国のゲストハウス一覧</strong></h1><br>
      <div class="columns is-multiline">
        <% @houses.each do |house| %>
        <div class="column is-4">
             <%= link_to house_path(house) do %>
              <% if house.house_image? %>
                <%= image_tag house.house_image.second.url %>
              <% else %>
                <%= image_tag 'second_house_noimage.png' %>
              <% end %>
              <p><strong><%= house.name %></strong>/<%= house.prefecture.name %></p>
            <% end %>
            <% if house.is_valid == true %>
              <p>ドミトリー:<%= number_to_currency(house.domitory_price, :format => "%u%n", :unit => "￥", :precision => 0) %>〜/
                個室:<%= number_to_currency(house.private_price, :format => "%u%n", :unit => "￥", :precision => 0) %>〜</p>
            <% else %>
              <p>閉館中</p>
            <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
