<div class="container main-content">

<%= render 'shared/flash' %>

  <div class="columns is-full">
    <div class="column is-3 has-background-info-light">
      <%= render 'shared/house_sidebar', house: @house %>
    </div>
    <div class="column is-9">
      <div class="columns is-multiline">
        <div class="column is-8">
          <figure class="image">
          <% if @house.house_image? %>
            <%= image_tag @house.house_image.third.url %><br>
          <% else %>
            <%= image_tag 'noimage_third.png' %><br>
          <% end %>
          </figure>
          <div class="columns is-multiline">
            <div class="column is-8">
              <h1><strong><%= @house.name%>/<%= @house.prefecture.name %></strong></h1><br>
              <h1>ドミトリー:<%= @house.domitory_price %>円〜/個室:<%= @house.private_price %>円〜</h1><br>
              <h1>住所:<%= @house.address %></h1><br>
            </div>
            <div class="column is-4">
              <% if logged_in? %>
                <%= render 'user/bookmarks/bookmark_form', house: @house %>
                <br>
                <%= render 'user/to_go_lists/to_go_list_form', house: @house %>
              <% end %>
            </div>
          </div>
          <% if logged_in? %>
            <div><%= link_to 'この宿へのストーリーを投稿する', new_house_story_path(@house), class: 'button is-primary' %></div><br>
            <div><%= link_to 'この宿への応援コメントを投稿する', '#', class: 'button is-primary' %></div><br>
          <% end %>
          <div><%= link_to 'この宿に投稿されたストーリーを読む', house_stories_path(@house), class: 'button is-info' %></div><br>
        </div>
        <div class="column is-4 ">
          <div>
            <% if @house.images? %>
              <figure class="slide-a">
                <% @house.images.each do |image| %>
                <div class="slide-b">
                  <%= image_tag(image.url, :class  => "slide-d") %>
                </div>
                <% end %>
              </figure>
            <% end %>
          </div>
          <div class="colimns is-multiline">
            <div class="card-header-title">
              <h1 class="has-text-centered"><strong>この宿のストーリー</h1></strong>
            </div>
            <% @stories.each do |story| %>
              <div class="card story-card has-background-grey-lighter">
                <div class="card-image">
                  <% if story.story_image? %>
                    <%= image_tag story.story_image.second.url %>
                  <% else %>
                    <%= image_tag 'noimage_second.png' %>
                  <% end %>
                </div>
                <div class="card-content">
                  <div class="media">
                    <div class="media-left">
                      <figure>
                        <% if story.user.avatar? %>
                          <%= image_tag story.user.avatar.xs.url %>
                        <% else %>
                          <%= image_tag 'noimage_xs.png' %>
                        <% end %>
                      </figure>
                    </div>
                    <div class="media-content">
                      <p class="title is-4"><%= story.user.display_name %></p>
                      <p class="subtitle is-6"><%= story.user.account_name %></p>
                    </div>
                  </div>
                  <div class="content">
                  <%= link_to house_story_path(@house, story), data: {"turbolinks" => false} do %>
                    <strong><%= story.title %></strong>
                  <% end %>
                  </div>
                </div>
              </div>
            <% end %>
            <div class="card-header-title  has-text-centered">
              <%= link_to '他のストーリーを読む', house_stories_path(@house) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>