<div class="container main-content">

      <% flash.each do |message_type, message| %>
        <div class="notification is-<%= message_type %>"><%= message %></div>
      <% end %>

  <div class="colums is-full">
    <div class="colum is-full">
    <%= form_for(:session, url: login_path) do |f| %>

        <%= f.label :email %>
        <%= f.email_field :email %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.label :remember_me, class: "checkbox" do %>
          <%= f.check_box :remember_me %>
          <p>Remember me on this computer</p>
        <% end %>

        <%= f.submit "Log in", class: "button is-primary"%>
      <% end %>

      <p>New user? <%= link_to "Sign up now!", signup_path %></p>
    </div>
  </div>

</div>

<%= render 'layouts/footer' %>