<%= render 'layouts/header_top' %>

    <section class="hero is-fullheight">
        <div class="hero-body login-hero has-background-primary-light">
            <div class="container has-text-centered">
              <%= render 'shared/flash' %>
                <div class="column is-8 is-offset-2">
                  <h3 class="title has-text-grey">パスワードの再設定</h3>
                  <%= form_for(:password_reset, url: password_resets_path) do |f| %>
                    <div class="box">
                      <form>
                        <div class="field">
                          <div class="control">
                            <%= f.email_field :email, class: "input is-large", type: "email", placeholder: "メールアドレス", autofocus: "" %>
                          </div>
                        </div>
                        <%= f.submit "パスワード再設定用のURLを発行", class: "button is-block is-info is-large is-fullwidth"%>
                      </form>
                    </div>
                  <% end %>
                </div>
            </div>
        </div>
    </section>

<%= render 'layouts/footer_top' %>