<div class="container main-content">

<%= render 'shared/flash' %>

  <div class="columns is-full">
    <div class="column is-3 has-background-info-light">
      <%= render 'shared/house_sidebar', house: @house %>
    </div>
    <div class="column is-9">
      <div class="columns is-multiline">
        <div class="column is-full">
          <%= form_for(shallow_args(@house, @story), url:house_story_path )do |f| %>
            <%= render 'form', {f: f, kind: @kind } %>
          <% end %>
        </div>
      </div>
      <%#= render 'form', { house: @house, story:@story, kind:@kind } %>
    </div>
  </div>
</div>
<%= render 'layouts/footer' %>