<%= render 'layouts/header' %>
<div class="container main-content">

<%= render 'shared/flash' %>

  <div class="columns is-full">
    <div class="column is-3 has-background-info-light">
      <%= render 'shared/house_sidebar', house: @house %>
    </div>
    <div class="column is-9">
        <div class="container has-text-left">
          <div class="is-divider"></div>
          <br>
          <h3 class="title has-text-grey">ストーリーを更新</h3>
          <%= form_for(shallow_args(@house, @story), url:house_story_path )do |f| %>
            <%= render 'form', {f: f, kind: @kind } %>
          <% end %>
        </div>
    </div>
  </div>
</div>
<%= render 'layouts/footer' %>