<div class="container main-content">

      <% flash.each do |message_type, message| %>
        <div class="notification is-<%= message_type %>"><%= message %></div>
      <% end %>

  <div class="columns is-full">
    <div class="column is-3 has-background-info-light">
      <div class="has-text-centered">
        <figure class="image">
          <% if @house.house_image? %>
            <%= image_tag @house.house_image.second.url %><br>
          <% else %>
            <%= image_tag 'second_house_noimage.png' %><br>
          <% end %>
        </figure>
      </div>
      <aside class="is-medium menu">
      <ul class="menu-list">
        <li>
          <a><strong><%= @house.name %></strong><br>
          <small><%= @house.prefecture.name %></small></a>
        </li>
        <li>
          <a>
          <small>
          ドミトリー:<%= @house.domitory_price %>円〜<br>
          個室:<%= @house.private_price %>円〜
          </small>
          </a>
        </li>
        <li>
          <a><small><%= @house.stories.count %>件のストーリー</small></a>
        </li>
        <li>
          <a><small><%= @house.stories.count %>件の応援コメント</small></a>
        </li>
        <% if logged_in? %>
        <li>
          <a><small><%= @house.stories.count %>人がお気に入りに登録</small></a>
        </li>
        <li>
          <a><small><%= @house.stories.count %>人が行きたいリストに登録</small></a>
        </li>
        <li class="has-text-centered">
        <%= link_to new_house_story_path(@house) do %>
          <p class="button is-primary">&nbsp;&nbsp;ストーリーを投稿&nbsp;&nbsp;</p>
        <% end %>
        </li>
        <li class="has-text-centered">
        <%= link_to new_house_story_path(@house) do %>
          <p class="button is-primary">&nbsp;応援コメントを投稿&nbsp;</p>
        <% end %>
        </li>
        <li class="has-text-centered">
          <% if @house.bookmark_by?(current_user) %>
            <%= link_to house_bookmarks_path(@house, redirect_id: 0), method: :delete do %>
              <p class="button is-danger">『お気に入り』を解除</p>
            <% end %>
          <% else %>
            <%= link_to house_bookmarks_path(@house, redirect_id: 0), method: :post do %>
              <p class="button is-danger is-light">『お気に入り』に登録</p>
            <% end %>
          <% end %>
        </li>
        <li class="has-text-centered">
          <% if @house.listed_by?(current_user) %>
            <%= link_to house_to_go_lists_path(@house, redirect_id: 0), method: :delete do %>
              <p class="button is-danger">『行きたい！』を解除</p>
            <% end %>
          <% else %>
            <%= link_to house_to_go_lists_path(@house, redirect_id: 0), method: :post do %>
              <p class="button is-danger is-light">『行きたい！』に登録</p>
            <% end %>
          <% end %>
        </li>
        <% end %>
      </ul>
      </aside>
    </div>
    <div class="column is-9">
      <h1><strong><%= @house.name %>のストーリー</strong></h1><br>
      <div class="columns is-multiline">
  
          <% @house.stories.each do |story| %>
            <div class="column is-full">
              <div class="box">
                <article class="media">
                  <div class="media-left">
                    <%= link_to house_story_path(@house, story) do %>
                      <% if story.story_image? %>
                        <%= image_tag story.story_image.first.url %>
                      <% else %>
                        <%= image_tag 'first_story_noimage.png' %>
                      <% end %>
                    <% end %>
                  </div>
                  <div class="media-content">
                    <div class="content">
                      <p>
                        <%= link_to house_story_path(@house, story) do %>
                        <strong><%= story.title %></strong><br>
                        <% end %>
                        <small><%= l story.created_at, format: '%Y年%-m月%-d日(%a) %H:%M' %></small>
                        <br>
                        <small><%= story.content.truncate(100) %></small>
                      </p>
                    </div>
                  </div>
                  <div class="media-right">
                  <%= link_to user_path(story.user_id) do %>
                    <div>
                        <% if story.user.avatar? %>
                          <%= image_tag story.user.avatar.xs.url %>
                        <% else %>
                          <%= image_tag 'xs_noimage.png' %>
                        <% end %>
                    </div>
                    <p>
                      <small>@<%= story.user.account_name %></small>
                    </p>
                    <p>
                      <small>
                        <% if current_user.id == story.user_id %>
                          <%= link_to "delete", house_story_path(@house, story), method: :delete, data: { confirm: "本当に削除しますか?" } %>
                        <% end %>
                      </small>
                    </p>
                  </div>
                  <% end %>
                </article>
              </div>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>