<%= render 'layouts/header' %>
<div class="container main-content">

<%= render 'shared/flash' %>

  <div class="columns is-full">
    <div class="column is-3 has-background-info-light">
      <%= render 'shared/house_sidebar', house: @house %>
    </div>
    <div class="column is-9">
      <h1><strong><%= @house.name %>のストーリー</strong></h1><br>
      <%= render 'index', {stories: @stories} %>
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>