<%= render 'layouts/header' %>
<div class="container main-content">

<%= render 'shared/flash' %>

  <div class="columns is-full">
    <div class="column is-3 is-hidden-touch">
      <%= render 'shared/house_sidebar', house: @house %>
    </div>
    <div class="column is-9">
      <div class="container has-text-left">
        <div class="is-divider"></div>
        <br>

          <%= render 'shared/house_mobile', house: @house %>

        <h3 class="title has-text-grey">ストーリーを投稿</h3>
        <%= render 'shared/error_message', model: @story %>
        <%= form_for(shallow_args(@house, @story), url:house_stories_path )do |f| %>
          <%= render 'form', {f: f, kind: @kind } %>
        <% end %>
      </div>
  </div>
</div>
<%= render 'layouts/footer' %>