    <div class="box has-background-white">
      <div class="has-text-centered ">
        <%= link_to house_path(house) do %>
        <figure class="image">
          <% if house.house_image? %>
            <%= image_tag house.house_image.second.url %><br>
          <% else %>
            <%= image_tag 'noimage_second.png' %><br>
          <% end %>
        </figure>
        <% end %>
      </div>
      <aside class="is-medium menu">
      <ul class="menu-list">
        <li>
          <%= link_to house_path(house) do %>
            <strong><%= house.name %></strong><br>
            <small><%= house.prefecture.name %></small>
          <% end %>
        </li>
        <li>
          <a class="btn-ignore">
            <% if house.is_valid == true %>
              <% if house.domitory_price && house.private_price%>
                <small>ドミトリー:<%= number_to_currency(house.domitory_price, :format => "%u%n", :unit => "￥", :precision => 0) %>〜<br>
                  個室:<%= number_to_currency(house.private_price, :format => "%u%n", :unit => "￥", :precision => 0) %>〜</small>
              <% elsif house.domitory_price %>
                <small>ドミトリー:<%= number_to_currency(house.domitory_price, :format => "%u%n", :unit => "￥", :precision => 0) %>〜</small>
              <% elsif house.private_price %>
                <small>個室:<%= number_to_currency(house.private_price, :format => "%u%n", :unit => "￥", :precision => 0) %>〜</small>
              <% end %>
            <% else%>
                <small>休館中 or 閉館中</small>
            <% end %>
          </a>
        </li>
        <li class="has-text-centered">
          <%= link_to house_stories_path(house) do %>
            <span class="tag is-link is-medium"><%= house.stories.count %>件のストーリー</span>
          <% end %>
        </li>
        <li class="has-text-centered">
          <%= link_to house_comments_path(house) do %>
            <span class="tag is-link is-medium"><%= house.house_comments.count %>件の応援コメント</span>
          <% end %>
        </li>
        <% if logged_in? %>
          <%= render 'shared/stats_house', house: house %>
        <% end %>
        <% if logged_in? %>
        </li>
        <li class="has-text-centered">
        </li>
        <% end %>
      </ul>
      </aside>
    </div>