<%= render 'layouts/header' %>

<section class="hero is-fullheight  main-content has-background-light">

<div class="container">

<%= render 'shared/flash' %>

  <div class="columns is-full">
    <div class="column is-3">
      <%= render 'shared/user_sidebar', {user: @user, isRoom: @isRoom, roomId: @roomId, room:@room, entry:@entry} %>
    </div>
    <div class="column is-9">
      <% if @user.to_go_lists.present? %>
        <h1><strong><%= @user.display_name%>の行きたいゲストハウス一覧</strong></h1><br>
        <div class="columns is-multiline">
          <% @to_go_lists.each do |to_go_list| %>
            <div class="column is-4">
              <%= link_to house_path(to_go_list.house), data: {"turbolinks" => false} do %>
                <% if to_go_list.house.house_image? %>
                  <%= image_tag to_go_list.house.house_image.second.url %>
                <% else %>
                  <%= image_tag 'noimage_second.png' %>
                <% end %>
                <p><strong><%= to_go_list.house.name %></strong>/<%= to_go_list.house.prefecture.name %></p>
              <% end %>
              <% if to_go_list.house.is_valid == true %>
                <% if to_go_list.house.domitory_price && to_go_list.house.private_price%>
                  <p>ドミトリー:<%= number_to_currency(to_go_list.house.domitory_price, :format => "%u%n", :unit => "￥", :precision => 0) %>〜/
                    個室:<%= number_to_currency(to_go_list.house.private_price, :format => "%u%n", :unit => "￥", :precision => 0) %>〜</p>
                <% elsif to_go_list.house.domitory_price %>
                  <p>ドミトリー:<%= number_to_currency(to_go_list.house.domitory_price, :format => "%u%n", :unit => "￥", :precision => 0) %>〜</p>
                <% elsif to_go_list.house.private_price %>
                  <p>個室:<%= number_to_currency(to_go_list.house.private_price, :format => "%u%n", :unit => "￥", :precision => 0) %>〜</p>
                <% end %>
              <% else%>
                <p>休館中 or 閉館中</p>
              <% end %>
            </div>
          <% end %>
        </div>
      <% else %>
      <h1><strong><%= @user.display_name%>の行きたいゲストハウス一覧</strong></h1><br>
      <div class="columns is-multiline">
        <div class="column is-full">
          <div class="box is">
            <article class="media">
              <div class="media-left">
                <%= image_tag 'noimage_xs.png' %><br>
              </div>
              <div class="media-content">
                <div class="content">
                  <p class="has-text-centered has-text-weight-bold is-size-5"><%= @user.display_name%>が行きたいゲストハウスはまだありません</p>
                </div>
              </div>
              <div class="media-right">
                <i class="far fa-heart fa-lg" aria-hidden="true"></i>
                <i class="fas fa-comment fa-fw fa-lg" ></i>
              </div>
            </article>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

</section>

<%= render 'layouts/footer' %>
