      <div class="columns is-multiline is-hidden-touch">
        <% users.each do |user| %>
          <div class="column is-full">
            
              <div class="box">
                <article class="media">
                  <div class="media-left">
                    <%= link_to user_path(user.id) do %>
                      <% if user.avatar? %>
                        <%= image_tag user.avatar.small.url %>
                      <% else %>
                        <%= image_tag 'noimage_first.png' %>
                      <% end %>
                    <% end %>
                  </div>
                  <div class="media-content">
                    <div class="content">
                    <%= link_to user_path(user.id) do %>
                      <strong><%= user.display_name %></strong>
                    <% end %>
                    <br>
                      <small>@<%= user.account_name %></small><br>
                      <small><%= user.introduction.truncate(100) %></small>
                    </div>
                  </div>
                  <div class="media-right">
                    <small><span class="tag is-link">ツブヤキ:<%= user.tweets.count %></span></small><br>
                    <small><span class="tag is-link">ストーリー:<%= user.stories.count %></span></small><br>
                    <small><span class="tag is-link">フォロー:<%= user.following.count %></span></small><br>
                    <small><span class="tag is-link">フォロワー:<%= user.followers.count %></span></small>
                  </div>
                </article>
              </div>
            
          </div>
        <% end %>
      </div>

      <div class="columns is-multiline is-hidden-display">
        <% users.each do |user| %>
          <div class="column is-full">
            
              <div class="box">
                <article class="media">
                  <div class="media-left">
                    <%= link_to user_path(user.id) do %>
                      <% if user.avatar? %>
                        <%= image_tag user.avatar.small.url %>
                      <% else %>
                        <%= image_tag 'noimage_first.png' %>
                      <% end %>
                    <% end %>
                  </div>
                  <div class="media-content">
                    <div class="content">
                    <%= link_to user_path(user.id) do %>
                      <strong><%= user.display_name %></strong>
                    <% end %>
                    <br>
                      <small>@<%= user.account_name %></small><br>
                      <small><span class="tag is-link">フォロー　:<%= user.following.count %></span></small><br>
                      <small><span class="tag is-link">フォロワー:<%= user.followers.count %></span></small><br>
                      <small><%= user.introduction.truncate(30) %></small>
                    </div>
                  </div>
                </article>
              </div>
            
          </div>
        <% end %>
      </div>