<%= render 'layouts/header' %>
<div class="container main-content">

<%= render 'shared/flash' %>

  <div class="columns is-full">
    <div class="column is-3">
      <%= render 'shared/user_sidebar', {user: current_user, isRoom: @isRoom, roomId: @roomId, room:@room, entry:@entry} %>
    </div>
    <div class="column is-9">
      <h1><strong>trastoに登録しているユーザー</strong></h1><br>
      <%= render 'index', users: @users %>
    </div>
  </div>
</>

<%= render 'layouts/footer' %>