<div class="container">
  <div class="columns is-full">
    <div class="column is-4">
      <table class="table">
        <tr>
          <div>
            <div>
              <td><h1><%= @user.display_name %>さん</h1>
            </div>
            <div>
              <h5>@<%= @user.account_name %></h5></td>
            </div>
          </div>
        </tr>
        <tr>
          <td><%= @user.introduction %></td>
        </tr>
        <tr>
          <td>
            <% if @user.avatar? %>
              <%= image_tag @user.avatar.medium.url %>
            <% else %>
              <%= image_tag 'medium_noimage.png' %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>
            <div class="level">
              <div class="level-left">
                <a href="<%= following_user_path(@user) %>">
                  <strong id="following" class="stat">
                    <%= @user.following.count %>
                  </strong>
                  フォロー
                </a>
              </div>
              <div class="level-right">
                <a href="<%= followers_user_path(@user) %>">
                  <strong id="followers" class="stat">
                    <%= @user.followers.count %>
                  </strong>
                  フォロワー
                </a>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <% if current_user?(@user) %>
              <%= link_to "ユーザー情報を編集", edit_user_path(@user.id), class: 'button is-success' %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td><%= link_to "Follow", "#", class: 'button is-success' %></td>
        </tr>
        <tr>
          <td>
          <% if @user.id == current_user.id %>
          <% else %>
            <% if @isRoom == true %>
              <%= link_to "メッセージを送る", "/rooms/#{@roomId}", class: 'button is-success' , data: {"turbolinks" => false} %>
            <% else %>
              <%= form_for @room do |f| %>
                <%= fields_for @entry do |e| %>
                  <%= e.hidden_field :user_id, :value=> @user.id %>
                <% end %>
                <%= f.submit "チャットを始める", class: 'button is-success', data: {"turbolinks" => false} %>
              <% end %>
            <% end %>
          <% end %>
          <td>
        </tr>
        <tr>
          <td><%= link_to "お気に入りゲストハウス一覧", bookmark_user_path(@user.id), class: 'button is-warning is-light'%></td>
        </tr>
        <tr>
          <td><%= link_to "行きたいゲストハウス一覧", to_go_list_user_path(@user.id), class: 'button is-warning is-light'%></td>
        </tr>
      </table>
    </div>
    <div class="column is-8">
    kouzityuu
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>