<%= render 'layouts/header' %>

<section class="hero is-fullheight  main-content has-background-light">

<div class="container">

<%= render 'shared/flash' %>

  <div class="columns is-full">
    <div class="column is-3">
      <%= render 'shared/user_sidebar', {user: @user, isRoom: @isRoom, roomId: @roomId, room:@room, entry:@entry} %>
    </div>
    <div class="column is-9">
      <div class="columns is-multiline">
        <div class="column is-full">
          <p class="has-text-weight-bold is-size-6"><%= @user.display_name %>のツブヤキ</p>
          <div class="is-divider"></div>
          <br>
          <%= render partial: "user/tweets/tweet", collection: @tweets %>
        </div>
      </div>
    </div>
  </div>
</div>

</section>

<%= render 'layouts/footer' %>