<section class="hero is-small is-primary">

  <div class="hero-body">
    <div class="container has-text-centered">
      <nav class="level">
        <div class="level-item has-text-centered">
          <div>
            <%# <h1 class="title has-text-white has-text-weight-bold is-size-2"><strong>ｔｒａｓｔｏ</strong></h1> %>
            <h1 class="title has-text-white has-text-weight-bold is-size-1"><strong>trasto</strong></h1>
            <p class="heading has-text-white has-text-weight-bold is-size-6">あなただけのゲストハウスの物語を語ろう</p>
          </div>
        </div>
      </nav>
      <br>
      <nav class="level">
        <div class="level-item has-text-centered">
          <div>
            <p class="heading has-text-white">初めての方</p>
            <p class="title"><%= link_to ' 会員登録 ', signup_path, class: "has-text-white is-size-4" %></p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading has-text-white">登録なしで試す</p>
            <p class="title"><%= link_to ' ゲストハウス検索 ', signup_path, class: "has-text-white is-size-4" %></p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading has-text-white">登録済みの方</p>
            <p class="title"><%= link_to ' ログイン ', login_path, class: "has-text-white is-size-4" %></p>
          </div>
        </div>
      </nav>
    </div>
  </div>
</section>

<%= render 'shared/flash' %>

        <div class="container">
          <div class="column is-12">
          </div>
          <div class="columns is-multiline">
            <div class="column is-6 has-vertically-aligned-content">
              <p class="is-larger is-size-3">
                What's trasto ??
              </p>
              <br>
              <p>
                ゲストハウス好きのユーザー同士の交流・情報交換を目的としたSNSサイトです。<br>
                ゲストハウスに応援コメントを残したり、写真や文章と一緒にゲストハウスで体験したストーリーを投稿することができます。<br>
                他の人の投稿を読んだり、コメントすることで新しいゲストハウスとの出会いが広がります。メッセージ機能を用いて詳しく情報交換をすることもできます。<br>
                trastoは2020年7月にオープンしたばかりです。今はまだ真っ白なページにあなただけの物語を描いてみませんか？
              </p>
              <div class="has-text-right">
                <%= link_to ' >>trastoについてもっと詳しく知る ', signup_path, class: "has-text-right has-text-grey-light" %>
              </div>
              <br>
              <div class="has-text-left">
                <%= link_to ' >>会員登録をしてからtrastoをはじめる方はこちら ', signup_path, class: "has-text-right has-text-grey is-size-5" %>
              </div>
              <br>
              <div class="has-text-left">
                <%= link_to ' >>すでにtrastoへの登録を済ませている方はこちら ', signup_path, class: "has-text-right has-text-grey is-size-5" %>
              </div>
              <br>
              <div class="has-text-left">
                <%= link_to ' >>登録なしでtrastoを試してみたい方はこちら ', signup_path, class: "has-text-right has-text-grey is-size-5" %>
              </div>
            </div>
            <div class="column is-6" >
              <div class="slide-a">
                <div class="slide-b"><img class="slide-e" src="<%= asset_path "zakimusubiya5.jpg"    %>"  ></div>
                <div class="slide-b"><img class="slide-e" src="<%= asset_path "non_utojuku1.jpg"    %>"  ></div>
                <div class="slide-b"><img class="slide-e" src="<%= asset_path "tau-ryo1.jpg"    %>"  ></div>
                <div class="slide-b"><img class="slide-e" src="<%= asset_path "beach.jpg"   %>"  ></div>
              </div>
            </div>
          </div>
        </div>

  <footer class="footer has-background-primary-light top-footer">
    <div class="content has-text-centered">
      <div class="container">
        <nav class="level">
          <div class="level-item has-text-centered">
            <div>
              <p class="title"><%= link_to ' お問い合わせ ', signup_path, class: "has-text-primary is-size-6" %></p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="title"><%= link_to ' このサイトについて ', signup_path, class: "has-text-primary is-size-6" %></p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="title"><%= link_to ' プライバシーポリシー ', login_path, class: "has-text-primary is-size-6" %></p>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </footer>