<% if logged_in? %>


<%= render 'layouts/header' %>

<section class="hero is-fullheight  main-content has-background-light">

<div class="container">

  <%= render 'shared/flash' %>

    <div class="columns is-full">
      <div class="column is-3">
        <%= render 'shared/search_sidebar', {categories: @categories, house_areas: @house_areas} %>
      </div>
      <div class="column is-9">
        <div class="is-divider"></div>
        <br>
        <div class="columns is-multiline has-background-white">
          <div class="column is-full">
            <h1><strong>オススメのゲストハウス</strong></h1>
          </div>
          <div class="tile is-ancestor">
            <% @houses.first(3).each do |house| %>
              <div class="tile is-parent">
                <div class="card story-card has-background-white">
                  <div class="card-image">
                    <% if house.house_image? %>
                      <%= image_tag house.house_image.second.url %>
                    <% else %>
                      <%= image_tag 'noimage_second.png' %>
                    <% end %>
                  </div>
                  <div class="card-content">
                    <div class="media">
                      <div class="media-content">
                        <%= link_to house_path(house), data: {"turbolinks" => false} do %>
                          <p class="title is-5"><%= house.name %></p>
                          <p class="subtitle is-6"><%= house.copy %></p>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
          <div class="column is-full has-text-right">
            <%= link_to houses_path do %>
              <h1><strong>>>ゲストハウスをさがす</strong></h1>
            <% end %>
          </div>
        </div>
        <div class="is-divider"></div>
        <br>
        <div class="columns is-multiline has-background-white">
          <div class="column is-full">
            <h1><strong>新しいストーリー</strong></h1>
          </div>
          <div class="column is-full">
            <%= render 'user/stories/index', {stories: @stories} %>
          </div>
          <div class="column is-full has-text-right">
            <%= link_to houses_path do %>
              <h1><strong>>>ゲストハウスをさがしてストーリーをもっとみる</strong></h1>
            <% end %>
          </div>
        </div>
        <div class="is-divider"></div>
        <br>
        <div class="columns is-multiline has-background-white">
          <div class="column is-full">
            <h1><strong>新しいツブヤキ</strong></h1>
          </div>
          <div class="column is-full">
            <%= render partial: "user/tweets/tweet", collection: @tweets %>
          </div>
          <div class="column is-full has-text-right">
            <%= link_to tweets_path do %>
              <h1><strong>>>ツブヤキをもっとみる</strong></h1>
            <% end %>
          </div>
        </div>
      </div>
</div>
<br>

</section>
<%= render 'layouts/footer' %>

        <div id="back-to-top" style="position:fixed;right:25px;bottom:5px">
          <a href="#"><i class="fas fa-arrow-alt-circle-up fa-3x"></i></a>
        </div>


<% else %>

<%= render 'layouts/header_top' %>

    <section class="hero is-medium">
      <div class="hero-body login-hero has-background-primary-light">
        <div class="container">
          <div class="column is-12">
            <%= render 'shared/flash' %>
          </div>
          <div class="columns is-multiline">
            <div class="column is-6 has-vertically-aligned-content">
              <p class="is-larger is-size-3">
                What's trasto ??
              </p>
              <br>
              <p>
                ゲストハウス好きのユーザー同士の交流・情報交換を目的としたSNSサイトです。<br>
                ゲストハウスに応援コメントを残したり、写真や文章と一緒にゲストハウスで体験したストーリーを投稿することができます。<br>
                他の人の投稿を読んだり、コメントすることで新しいゲストハウスとの出会いが広がります。メッセージ機能を用いて詳しく情報交換をすることもできます。<br>
                trastoは2020年7月にオープンしたばかりです。今はまだ真っ白なページにあなただけの物語を描いてみませんか？
              </p>
              <div class="has-text-right">
                <%= link_to ' >>trastoについてもっと詳しく知る ', signup_path, class: "has-text-right has-text-grey-light" %>
              </div>
              <br>
              <div class="has-text-left">
                <%= link_to ' >>ユーザー登録をしてからtrastoをはじめる方はこちら ', signup_path, class: "has-text-right has-text-grey is-size-5" %>
              </div>
              <br>
              <div class="has-text-left">
                <%= link_to ' >>すでにtrastoへの登録を済ませている方はこちら ', login_path, class: "has-text-right has-text-grey is-size-5" %>
              </div>
              <br>
              <div class="has-text-left">
                <%= link_to ' >>登録なしでtrastoを試してみたい方はこちら(ゲストログイン) ', guest_sign_in_path, method: :post, class: "has-text-right has-text-grey is-size-5" %>
              </div>
              <br>
              <div class="has-text-left">
                <%= link_to ' >>ログインなしでゲストハウス検索をする場合はこちら ', houses_path, class: "has-text-right has-text-grey is-size-5" %>
              </div>
            </div>
            <div class="column is-6" >
              <div class="slide-a">
                <div class="slide-b"><img class="slide-e" src="<%= asset_path "zakimusubiya5.jpg"    %>"  ></div>
                <div class="slide-b"><img class="slide-e" src="<%= asset_path "non_utojuku1.jpg"    %>"  ></div>
                <div class="slide-b"><img class="slide-e" src="<%= asset_path "tau-ryo1.jpg"    %>"  ></div>
                <div class="slide-b"><img class="slide-e" src="<%= asset_path "beach.jpg"   %>"  ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

<%= render 'layouts/footer_top' %>

        <div id="back-to-top" style="position:fixed;right:25px;bottom:5px">
          <a href="#"><i class="fas fa-arrow-alt-circle-up fa-3x"></i></a>
        </div>


<% end %>