<% if logged_in? %>


<%= render 'layouts/header' %>
<section class="hero is-fullheight  main-content has-background-light">

<div class="container">

  <%= render 'shared/flash' %>

    <div class="columns is-full">
      <div class="column is-3">
        <%= render 'shared/search_sidebar', {categories: @categories, house_areas: @house_areas} %>
      </div>
      <div class="column is-9">
        <div class="is-divider"></div>
        <br>
        <div class="columns is-multiline has-background-white">
          <div class="column is-full">
            <h1><strong>オススメのゲストハウス</strong></h1>
          </div>
          <div class="tile is-ancestor">
            <% @houses.first(3).each do |house| %>
              <div class="tile is-parent">
                <div class="card story-card has-background-white">
                  <div class="card-image">
                    <% if house.house_image? %>
                      <%= image_tag house.house_image.second.url %>
                    <% else %>
                      <%= image_tag 'noimage_second.png' %>
                    <% end %>
                  </div>
                  <div class="card-content">
                    <div class="media">
                      <div class="media-content">
                        <%= link_to house_path(house), data: {"turbolinks" => false} do %>
                          <p class="title is-5"><%= house.name %></p>
                          <p class="subtitle is-6"><%= house.copy %></p>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
          <div class="column is-full has-text-right">
            <%= link_to houses_path do %>
              <h1><strong>>>ゲストハウスをさがす</strong></h1>
            <% end %>
          </div>
        </div>
        <div class="is-divider"></div>
        <br>
        <div class="columns is-multiline has-background-white">
          <div class="column is-full">
            <h1><strong>新しいストーリー</strong></h1>
          </div>
          <div class="column is-full">
            <%= render 'user/stories/index', {stories: @stories} %>
          </div>
          <div class="column is-full has-text-right">
            <%= link_to houses_path do %>
              <h1><strong>>>ゲストハウスをさがしてストーリーをもっとみる</strong></h1>
            <% end %>
          </div>
        </div>
        <div class="is-divider"></div>
        <br>
        <div class="columns is-multiline has-background-white">
          <div class="column is-full">
            <h1><strong>新しいツブヤキ</strong></h1>
          </div>
          <div class="column is-full">
            <%= render partial: "user/tweets/tweet", collection: @tweets %>
          </div>
          <div class="column is-full has-text-right">
            <%= link_to tweets_path do %>
              <h1><strong>>>ツブヤキをもっとみる</strong></h1>
            <% end %>
          </div>
        </div>
      </div>
</div>

</section>
<%= render 'layouts/footer' %>


<% else %>


<section class="hero is-small is-primary">

  <div class="hero-body">
    <div class="container has-text-centered">
      <nav class="level">
        <div class="level-item has-text-centered">
          <div>
            <%# <h1 class="title has-text-white has-text-weight-bold is-size-2"><strong>ｔｒａｓｔｏ</strong></h1> %>
            <h1 class="title has-text-white has-text-weight-bold is-size-1"><strong>trasto</strong></h1>
            <p class="heading has-text-white has-text-weight-bold is-size-6">あなただけのゲストハウスの物語を語ろう</p>
          </div>
        </div>
      </nav>
      <br>
      <nav class="level">
        <div class="level-item has-text-centered">
          <div>
            <p class="heading has-text-white">初めての方</p>
            <p class="title"><%= link_to ' 会員登録 ', signup_path, class: "has-text-white is-size-4" %></p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading has-text-white">登録なしで試す</p>
            <p class="title"><%= link_to ' ゲストハウス検索 ', signup_path, class: "has-text-white is-size-4" %></p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading has-text-white">登録済みの方</p>
            <p class="title"><%= link_to ' ログイン ', login_path, class: "has-text-white is-size-4" %></p>
          </div>
        </div>
      </nav>
    </div>
  </div>
</section>

<%= render 'shared/flash' %>

        <div class="container">
          <div class="column is-12">
          </div>
          <div class="columns is-multiline">
            <div class="column is-6 has-vertically-aligned-content">
              <p class="is-larger is-size-3">
                What's trasto ??
              </p>
              <br>
              <p>
                ゲストハウス好きのユーザー同士の交流・情報交換を目的としたSNSサイトです。<br>
                ゲストハウスに応援コメントを残したり、写真や文章と一緒にゲストハウスで体験したストーリーを投稿することができます。<br>
                他の人の投稿を読んだり、コメントすることで新しいゲストハウスとの出会いが広がります。メッセージ機能を用いて詳しく情報交換をすることもできます。<br>
                trastoは2020年7月にオープンしたばかりです。今はまだ真っ白なページにあなただけの物語を描いてみませんか？
              </p>
              <div class="has-text-right">
                <%= link_to ' >>trastoについてもっと詳しく知る ', signup_path, class: "has-text-right has-text-grey-light" %>
              </div>
              <br>
              <div class="has-text-left">
                <%= link_to ' >>会員登録をしてからtrastoをはじめる方はこちら ', signup_path, class: "has-text-right has-text-grey is-size-5" %>
              </div>
              <br>
              <div class="has-text-left">
                <%= link_to ' >>すでにtrastoへの登録を済ませている方はこちら ', signup_path, class: "has-text-right has-text-grey is-size-5" %>
              </div>
              <br>
              <div class="has-text-left">
                <%= link_to ' >>登録なしでtrastoを試してみたい方はこちら ', signup_path, class: "has-text-right has-text-grey is-size-5" %>
              </div>
            </div>
            <div class="column is-6" >
              <div class="slide-a">
                <div class="slide-b"><img class="slide-e" src="<%= asset_path "zakimusubiya5.jpg"    %>"  ></div>
                <div class="slide-b"><img class="slide-e" src="<%= asset_path "non_utojuku1.jpg"    %>"  ></div>
                <div class="slide-b"><img class="slide-e" src="<%= asset_path "tau-ryo1.jpg"    %>"  ></div>
                <div class="slide-b"><img class="slide-e" src="<%= asset_path "beach.jpg"   %>"  ></div>
              </div>
            </div>
          </div>
        </div>

  <footer class="footer has-background-primary-light top-footer">
    <div class="content has-text-centered">
      <div class="container">
        <nav class="level">
          <div class="level-item has-text-centered">
            <div>
              <p class="title"><%= link_to ' お問い合わせ ', signup_path, class: "has-text-primary is-size-6" %></p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="title"><%= link_to ' このサイトについて ', signup_path, class: "has-text-primary is-size-6" %></p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="title"><%= link_to ' プライバシーポリシー ', login_path, class: "has-text-primary is-size-6" %></p>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </footer>


<% end %>