<div class="notification is-danger admin-notice">管理者のページです</div>
<div class="container main-content">

<%= render 'shared/flash' %>

  <div class="columns is-full">
    <div class="column is-3">
      <%= render 'shared/admin_search_sidebar', {categories: @categories, house_areas: @house_areas} %>
    </div>
    <div class="column is-9">
      <%= form_for(@category, url:admin_categories_path) do |f| %>
          <div class="field">
            <p>カテゴリー追加</p>
            <%= f.text_field :name %>
            有効 <%= f.radio_button :is_valid, true %>
            無効 <%= f.radio_button :is_valid, false %> 
            <%= f.file_field :category_image %>
            <%= f.submit '追加', class: 'button is-primary' %>
          </div>
      <% end %>
    <h1><strong>カテゴリーの一覧</strong></h1>
    <br>
      <section class="container">
        <div class="level-item">
          <div class="columns is-multiline is-centered cards-container">
            <% @categories_all.each do |category| %>
            <div class="column is-one-quarter">
              <article class="message is-primary">
                  <div class="message-header">
                      <p><%= link_to category.name, admin_houses_path(category_id: category.id) %></p>
                  </div>
                  <div class="message-body">
                    <% if category.category_image? %>
                      <%= image_tag category.category_image.url %>
                    <% else %>
                      <%= image_tag 'noimage_category.png' %>
                    <% end %>
                  </div>
                  <div class="message-body">
                  <%= link_to "編集する", edit_admin_category_path(category), class: 'button is-warning' %>
                  <%= link_to "削除する", admin_category_path(category), method: :delete, data: { confirm: "本当に削除しますか?" }, class: 'button is-danger' %>
                  </div>
              </article>
            </div>
            <% end %>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
</div>

<%= render 'layouts/footer' %>