<%= render 'layouts/header' %>
<div class="notification is-danger admin-notice">管理者のページです</div>
<div class="container main-content">

<%= render 'shared/flash' %>

  <div class="columns is-full">
    <div class="column is-3">
      <%= render 'shared/admin_search_sidebar', {categories: @categories, house_areas: @house_areas} %>
    </div>
    <div class="column is-9">
      <div class="columns is-multiline">
        <% @houses.each do |house| %>
          <div class="column is-4">
             <%= link_to admin_house_path(house) do %>
              <% if house.house_image? %>
                <%= image_tag house.house_image.second.url %>
              <% else %>
                <%= image_tag 'noimage_second.png' %>
              <% end %>
              <p><strong><%= house.name %></strong>/<%= house.prefecture.name %></p>
            <% end %>
            <% if house.is_valid == true %>
              <% if house.domitory_price && house.private_price%>
                <p>ドミトリー:<%= number_to_currency(house.domitory_price, :format => "%u%n", :unit => "￥", :precision => 0) %>〜/
                  個室:<%= number_to_currency(house.private_price, :format => "%u%n", :unit => "￥", :precision => 0) %>〜</p>
              <% elsif house.domitory_price %>
                <p>ドミトリー:<%= number_to_currency(house.domitory_price, :format => "%u%n", :unit => "￥", :precision => 0) %>〜</p>
              <% elsif house.private_price %>
                <p>個室:<%= number_to_currency(house.private_price, :format => "%u%n", :unit => "￥", :precision => 0) %>〜</p>
              <% end %>
            <% else%>
              <p>休館中 or 閉館中</p>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>