<div class="container main-content">

      <% flash.each do |message_type, message| %>
        <div class="notification is-<%= message_type %>"><%= message %></div>
      <% end %>

  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <%= form_for(@house, url:admin_houses_path) do |f| %>
      <%= collection_check_boxes(:house, :category_ids, Category.all, :id, :name) do |category| %>
          <%= category.label do %>
              <%= category.check_box %>
              <%= category.text %>
          <% end %>
      <% end %>
          <table class="table">
            <tr>
              <th><%= f.label :name, 'ゲストハウス名' %></th>
              <td><%= f.text_field :name %><td>
            </tr>
            <tr>
              <th><%= f.label :postcode, '郵便番号(ハイフンなし)' %></th>
              <td><%= f.text_field :postcode %><td>
            </tr>
            <tr>
              <th><%= f.label :prefecture_code, '都道府県(選択)' %></th>
              <td><%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name ,include_blank: '都道府県' %><td>
            </tr>
            <tr>
              <th><%= f.label :address, '住所' %></th>
              <td><%= f.text_field :address %><td>
            </tr>
            <tr>
              <th><%= f.label :copy, 'キャッチコピー' %></th>
              <td><%= f.text_field :copy %><td>
            </tr>
            <tr>
              <th><%= f.label :introduction, '紹介文' %></th>
              <td><%= f.text_field :introduction %><td>
            </tr>
            <tr>
              <th><%= f.label :domitory_price, '価格(相部屋)' %></th>
              <td><%= f.text_field :domitory_price %>円<td>
            </tr>
            <tr>
              <th><%= f.label :private_price, '価格(個室)' %></th>
              <td><%= f.text_field :private_price %>円 <td>
            </tr>
            <tr>
              <th><%= f.label :is_valid, '運営ステータス' %></th>
              <td><%= f.select :is_valid, {"営業中": true,"閉館": false } %></td>
            </tr>
            <tr>
              <th><%= f.file_field :house_image %></th>
              <td><%= f.submit "新規登録" , class: "button is-primary"  %></td>
            </tr>
          </table>
  <% end %>
      </div>
    </div>
  </section>
</div>
<%= render 'layouts/footer' %>
