<div class="notification is-danger admin-notice">管理者のページです</div>
<div class="container main-content">

<%= render 'shared/flash' %>

  <div class="columns is-full">
    <div class="column is-3">
      <aside class="menu">
        <p class="menu-label">
          カテゴリーから探す
        </p>
        <ul class="menu-list">
          <% @categories.each do |category| %>
            <li><%= link_to category.name, admin_houses_path(category_id: category.id) %></li>
          <% end %>
            <li><%= link_to "全てのジャンルを見る", admin_categories_path %></li>
        </ul>
        <p class="menu-label">
          エリアで探す
        </p>
        <ul class="menu-list">
        <% @house_areas.each do |house_area| %>
          <li><%= link_to house_area.name, admin_houses_path(house_area_id: house_area.id) %></li>
        <% end %>
        </ul>
      </aside>
    </div>
    <div class="column is-9">
      <div class="columns is-multiline">
        <div class="column is-full">
          <figure class="image">
          <% if @house.house_image? %>
            <%= image_tag @house.house_image.third.url %><br>
          <% else %>
            <%= image_tag 'noimage_third.png' %><br>
          <% end %>
          </figure>
        </div>
      </div>
      <div class="columns is-multiline">
            <% if @house.images? %>
                <% @house.images.each do |image| %>
                <div class="column is-3">
                  <%= image_tag(image.url) %>
                </div>
                <% end %>
            <% end %>
      </div>
          <div class="columns is-multiline">
            <div class="column is-6">
              <h1><strong><%= @house.name %></strong><small>&nbsp;&nbsp;(&nbsp;<%= @house.prefecture.name %>&nbsp;)</small></h1><br>
              <h1><strong><%= @house.copy %></strong></h1><br>
              <% if @house.is_valid == true %>
                <% if @house.domitory_price && @house.private_price%>
                  <h1>ドミトリー:<%= number_to_currency(@house.domitory_price, :format => "%u%n", :unit => "￥", :precision => 0) %>〜/
                    個室:<%= number_to_currency(@house.private_price, :format => "%u%n", :unit => "￥", :precision => 0) %>〜</h1>
                <% elsif @house.domitory_price %>
                  <h1>ドミトリー:<%= number_to_currency(@house.domitory_price, :format => "%u%n", :unit => "￥", :precision => 0) %>〜</h1>
                <% elsif @house.private_price %>
                  <h1>個室:<%= number_to_currency(@house.private_price, :format => "%u%n", :unit => "￥", :precision => 0) %>〜</h1>
                <% end %>
              <% else%>
                <h1>休館中 or 閉館中</h1>
              <% end %>
              <br>
              <h1>住所:<%= @house.address %></h1><br>
            </div>
            <div class="column is-6">
              <div><%= link_to '管理者として削除', admin_house_path(@house), method: :delete, data: { confirm: "本当に削除しますか?" }, class: 'button is-danger' %></div><br>
              <div><%= link_to '管理者として情報を編集', edit_admin_house_path(@house), class: 'button is-warning' %></div>
            </div>
          </div>
          <div class="columns is-multiline">
            <div class="column is-full">
              <%= sanitize(simple_format(@house.introduction), :tags => %w(p br)) %>
            </div>
          </div>
          <div><%= link_to 'この宿に投稿されたストーリーを読む', house_stories_path(@house), class: 'button is-info' %></div><br>
          <div><%= link_to 'この宿に投稿された応援コメントを読む', house_comments_path(@house), class: 'button is-info' %></div>
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>