<div class="notification is-danger admin-notice">管理者のページです</div>
<div class="container main-content">

<%= render 'shared/flash' %>

  <div class="columns is-full">
    <div class="column is-3">
          <div class="columns is-multiline">
            <div class="column is-full">
              <%= link_to admin_user_path(@user) do %>
                <h1><strong><%= @user.display_name %></strong></h1>
                <h5><small>@<%= @user.account_name %></small></h5>
              <% end %>
              <div><%= link_to '管理者として削除', admin_user_path(@user), method: :delete, data: { confirm: "本当に削除しますか?" }, class: 'button is-danger' %></div><br>
              <div><%= link_to '管理者として情報を編集', edit_admin_user_path(@user), class: 'button is-warning' %></div><br>
              <div>
                    <% if @user.is_valid == true %>
                    <span class="tag is-primary"><%= "有効" %></span>
                    <% else %>
                    <span class="tag is-danger"><%= "退会済み" %></span>
                    <% end %>
              </div>
            </div>
          </div>
      <table class="table">
        <tr>
          <td><%= sanitize(simple_format(@user.introduction), :tags => %w(p br)) %></td>
        </tr>
        <tr>
          <td>
            <% if @user.avatar? %>
              <%= image_tag @user.avatar.medium.url %>
            <% else %>
              <%= image_tag 'noimage_second.png' %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>
            <%= render 'user/relationships/stats', user: @user %>
          </td>
        </tr>
        <tr>
          <td><%= link_to "お気に入りゲストハウス", bookmark_user_path(@user.id), class: 'button is-warning is-light'%></td>
        </tr>
        <tr>
          <td><%= link_to "行きたいゲストハウス", to_go_list_user_path(@user.id), class: 'button is-warning is-light'%></td>
        </tr>
        <tr>
          <td><%= link_to "お気に入りストーリー", story_bookmark_user_path(@user.id), class: 'button is-warning is-light'%></td>
        </tr>
        <tr>
          <td><%= link_to "「いいね」したツブヤキ", favorite_user_path(@user.id), class: 'button is-warning is-light'%></td>
        </tr>
      </table>
    </div>
    <div class="column is-9">
      <div class="columns is-multiline is-full">
        <div class="column is-full">
          <h1><strong><%= @user.display_name %>のストーリー</strong></h1>
        </div>
        <div class="column is-full">
          <%= render 'user/stories/index', {stories: @stories} %>
        </div>
      </div>
      <div class="columns is-multiline is-full">
        <div class="column is-full has-text-right">
        <%= link_to stories_user_path(@user) do %>
          <h1><strong>>><%= @user.display_name %>のストーリーをもっと見る</strong></h1>
        <% end %>
        </div>
      </div>
      <div class="columns is-multiline">
        <div class="column is-full">
          <h1><strong><%= @user.display_name %>のツブヤキ</strong></h1>
        </div>
        <div class="column is-full">
          <%= render partial: "user/tweets/tweet", collection: @tweets %>
        </div>
      </div>
      <div class="columns is-multiline is-full">
        <div class="column is-full has-text-right">
        <%= link_to tweets_user_path(@user) do %>
          <h1><strong>>><%= @user.display_name %>のツブヤキをもっと見る</strong></h1>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>