<div>
  <%= @user.account_name %>
  <%= @user.display_name %>
  <% if @user.avatar? %>
    <%= image_tag @user.avatar.medium.url %>
  <% else %>
    <%= image_tag 'medium_noimage.png' %>
  <% end %>
  <% if current_user.admin? %>
    <%= link_to "管理者として編集", edit_admin_user_path(@user.id) %>
  <% end %>
</div>