<div class="container">
  <div class="columns is-full">
    <div class="column is-3">
      // ？？
    </div>
    <div class="column is-9">
      <div class="columns is-multiline">
        <div class="column is-8">
          <div></div>
          <br>
          <h1>今の気持ちをツイートしよう</h1>
          <%= form_for(@tweet) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>
            <div class="field">
              <%= f.text_area :content, :size=>"80x6", placeholder: "今の気持ちをツイートしよう..." %>
              <%= f.file_field :tweet_picture %>
            </div>
            <%= f.submit "Post", class: "button is-primary" %>
          <% end %>
          <div></div>
          <br>
          <% @tweets.each do |tweet| %>
            <div class="box">
              <article class="media">
                <div class="media-left">
                  <% if tweet.user.avatar? %>
                    <%= image_tag tweet.user.avatar.xs.url %><br>
                  <% else %>
                    <%= image_tag 'xs_noimage.png' %><br>
                  <% end %>
                </div>
                <div class="media-content">
                  <div class="content">
                    <p>
                      <strong><%= link_to tweet.user.display_name, tweet.user %></strong>
                      <small>@<%= tweet.user.account_name %></small>
                      <small><%= l tweet.created_at, format: '%Y年%-m月%-d日(%a) %H:%M' %></small>
                      <small>
                        <% if current_user?(tweet.user) %>
                          <%= link_to "delete", tweet, method: :delete, data: { confirm: "本当に削除しますか?" } %>
                        <% end %>
                      </small>
                      <br>
                      <%= tweet.content %>
                    </p>
                  </div>
                  <% if tweet.tweet_picture? %>
                  <div class="content">
                    <%= image_tag tweet.tweet_picture.third.url %>
                  <div>
                  <% end %>
                  <nav class="level is-mobile">
                    <div class="level-left">
                      <a class="level-item" aria-label="reply">
                        <span class="icon is-small">
                          <i class="fas fa-reply" aria-hidden="true"></i>
                        </span>
                      </a>
                      <a class="level-item" aria-label="retweet">
                        <span class="icon is-small">
                          <i class="fas fa-retweet" aria-hidden="true"></i>
                        </span>
                      </a>
                      <a class="level-item" aria-label="like">
                        <span class="icon is-small">
                          <i class="fas fa-heart" aria-hidden="true"></i>
                        </span>
                      </a>
                    </div>
                  </nav>
                </div>
              </article>
            </div>
          <% end %>
        </div>
        <div class="column is-4">
          ?????
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'layouts/footer' %>