<%= render 'layouts/header' %>

<div class="container main-content ">

<%= render 'shared/flash' %>

  <div class="columns is-full">
    <div class="column is-3">
      <%= render 'shared/user_sidebar', {user: @user, isRoom: @isRoom, roomId: @roomId, room:@room, entry:@entry} %>
    </div>
    <div class="column is-9">
      <div class="columns is-multiline">
        <div class="column is-full">
            <div class="box">
              <article class="media">
                <div class="media-left">
                  <% if @tweet.user.avatar? %>
                    <%= image_tag @tweet.user.avatar.xs.url %><br>
                  <% else %>
                    <%= image_tag 'noimage_xs.png' %><br>
                  <% end %>
                </div>
                <div class="media-content">
                  <div class="content">
                    <p>
                      <strong><%= link_to @tweet.user.display_name, @tweet.user %></strong>
                      <small>@<%= @tweet.user.account_name %></small>
                      <small><%= l @tweet.created_at, format: '%Y年%-m月%-d日 %H:%M' %></small>
                      <small>
                        <% if current_user?(@tweet.user) %>
                          <%= link_to "delete", @tweet, method: :delete, data: { confirm: "本当に削除しますか?" } %>
                        <% end %>
                      </small>
                      <br>
                      <%= sanitize(simple_format(@tweet.content), :tags => %w(p br)) %>
                    </p>
                    <% if @tweet.tweet_picture? %>
                    <% else %>
                      <% @tweet_comments.each do |tweet_comment| %>
                        <article class="media">
                          <div class="media-left">
                            <% if tweet_comment.user.avatar? %>
                              <%= image_tag tweet_comment.user.avatar.xs.url %><br>
                            <% else %>
                              <%= image_tag 'noimage_xs.png' %><br>
                            <% end %>
                          </div>
                          <div class="media-content">
                            <div class="content">
                              <p>
                                <strong><%= link_to tweet_comment.user.display_name, tweet_comment.user %></strong>
                                <small>@<%= tweet_comment.user.account_name %></small>
                                <small><%= l tweet_comment.created_at, format: '%Y年%-m月%-d日 %H:%M' %></small>
                                <small>
                                  <% if current_user?(tweet_comment.user) %>
                                    <%= link_to "delete", tweet_tweet_comment_path(@tweet, tweet_comment), method: :delete, data: { confirm: "本当に削除しますか?" } %>
                                  <% end %>
                                </small>
                                <br>
                                <%= sanitize(simple_format(tweet_comment.content), :tags => %w(p br)) %>
                              </p>
                            </div>
                          </div>
                        </article>
                      <% end %>
                    <% end %>
                  </div>
                  <% if @tweet.tweet_picture? %>
                  <div class="content">
                    <%= image_tag @tweet.tweet_picture.third.url %>
                      <% @tweet_comments.each do |tweet_comment| %>
                        <article class="media">
                          <div class="media-left">
                            <% if tweet_comment.user.avatar? %>
                              <%= image_tag tweet_comment.user.avatar.xs.url %><br>
                            <% else %>
                              <%= image_tag 'noimage_xs.png' %><br>
                            <% end %>
                          </div>
                          <div class="media-content">
                            <div class="content">
                              <p>
                                <strong><%= link_to tweet_comment.user.display_name, tweet_comment.user %></strong>
                                <small>@<%= tweet_comment.user.account_name %></small>
                                <small><%= l tweet_comment.created_at, format: '%Y年%-m月%-d日 %H:%M' %></small>
                                <small>
                                  <% if current_user?(tweet_comment.user) %>
                                    <%= link_to "delete", tweet_tweet_comment_path(@tweet, tweet_comment), method: :delete, data: { confirm: "本当に削除しますか?" } %>
                                  <% end %>
                                </small>
                                <br>
                                <%= sanitize(simple_format(tweet_comment.content), :tags => %w(p br)) %>
                              </p>
                            </div>
                          </div>
                        </article>
                      <% end %>
                      <div class="is-divider"></div>
                      <br>
                      <%= paginate @tweet_comments %>
                      <div class="is-divider"></div>
                      <br>
                  </div>
                  <% end %>
                </div>
                <div class="media-right">
                  <%= render 'user/favorites/favorite_form', tweet: @tweet %>
                  <i class="fas fa-comment fa-fw fa-lg" ></i>
                  <%= @tweet.tweet_comments.count %>
                </div>
              </article>
              <article class="media">
                <div class="media-left">
                  <% if current_user.avatar? %>
                    <%= image_tag current_user.avatar.xs.url %><br>
                  <% else %>
                    <%= image_tag 'noimage_xs.png' %><br>
                  <% end %>
                </div>
                <div class="media-content">
                  <%= render 'shared/flash' %>
                  <%= form_for(shallow_args(@tweet, @tweet_comment), url:tweet_comments_path )do |f| %>
                    <div class="field">
                      <%= f.text_area :content, class: "textarea is-midium is-info", type: "text", placeholder: "ツブヤキにコメントしよう...", autofocus: "" %>
                    </div>
                    <%= f.submit "Post", class: "button is-primary" %>
                  <% end %>
                </div>
              </article>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>

